<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   
    <link rel="stylesheet" href="finish-shopping.css" />
    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/b541613f7c.js" crossorigin="anonymous"></script>
    <script
      src="../common/component/header/header.js"
      type="module"
      defer
    ></script>

    <title>주문완료</title>ㄴㄴㄴ
  </head>
  <body>
    <header id="header">
      <div class="header-container">

          <h1 class="logo">
              <a href="../home/home.html"><p class="en">THE WITCH STORE</p></a>
          </h1>

          <nav class="user-nav">
              <div class="user-info-box">
                  <div class="user-info">
                      <label for="user-name" class="user-name en">User</label>
                      <button class="user-info-btn"><i class="fa-solid fa-caret-down"></i></button>
                  </div>
                  
                  <div class="user-menu-box">
                      <ul class="user-menu">
                          <li><a href="#">주문내역</a></li>
                          <li><a href="#">계정관리</a></li>
                          <li><a href="#">로그아웃</a></li>
                      </ul>
                  </div>
              </div>

              <a href="#" class="user-cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
          </nav>

      </div>
  </header><!-- header end -->

     <!-- 중앙페이지-->
        <div class="main"> <!-- main 간격 조정하면 finish text도 조정됨.-->
          <div class="finish_text">
              <h1> 주문이 정상적으로 완료되었습니다!</h1>
              <i class="fa-solid fa-basket-shopping fa-11x" ></i>
          </div>
          <div class="btn-box">
            <button class="btn" id="check-btn">주문 조회 바로가기</button>
            <button class="btn" id="main-btn">메인 홈으로 이동</button>
        </div>
        </div>
      </div>
      
    <!-- footer-->
      <div class="footer">
        <div>LOGO</div>
        <div>
          CEO. 세최마 <br>
          Addr. 호그와트 해리1로 280-3 3F 고객상담실 Fax/Tel. <br>
          02 - 123 -2912~5 <br>
          COPYRIGHT 2022. Team K1ng. ALL RIGHT RESERVED.
        </div>
      </div>


    </div>
  </body> 
</html>
