<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   
    <link rel="stylesheet" href="finish-shopping.css" />
    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/b541613f7c.js" crossorigin="anonymous"></script>
    <script
      src="../common/component/header/header.js"
      type="module"
      defer
    ></script>

    <title>주문완료</title>
  </head>
  <body>
    <header id="header">
      <div class="header-container">

          <h1 class="logo">
              <a href="../product-list/product.html"><p class="en">THE WITCH STORE</p></a>
          </h1>

          <nav class="user-nav">
              <div class="user-info-box">
                  <div class="user-info">
                      <label for="user-name" class="user-name en">User</label>
                      <button class="user-info-btn"><i class="fa-solid fa-caret-down"></i></button>
                  </div>
                  
                  <div class="user-menu-box">
                      <ul class="user-menu">
                        <li><a href="../oderdetail/orderdetail.html">주문내역</a></li>
                        <li><a href="../changing-info/changing-info.html">계정관리</a></li>
                        <li><a href="../product-list/product.html">로그아웃</a></li>
                      </ul>
                  </div>
              </div>

              <a href="../shopping-cart/shopping-cart.html" class="user-cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
          </nav>

      </div>
  </header><!-- header end -->

     <!-- 중앙페이지-->
        <div class="main"> <!-- main 간격 조정하면 finish text도 조정됨.-->
          <div class="finish_text">
              <h1> 주문이 정상적으로 완료되었습니다!</h1>
              <i class="fa-solid fa-basket-shopping fa-11x" ></i>
          </div>
          <div class="btn-box">
            <button class="btn" id="check-btn" onclick="location.href='../oder-detail/order-detail.html';">주문 조회 바로가기</button>
            <button class="btn" id="main-btn" onclick="location.href='../product-list/product.html';">메인 홈으로 이동</button>
        </div>
        </div>
      </div>
      
    <!-- footer-->
    <footer id="footer">
      <div class="footer-container">
          
          <div class="footer-box">
              <div class="footer-copy-box">
                  <p>
                      서울특별시 강남구 선릉로 433, 신관 6층<br>
                       team K1ng의 모든 컨텐츠는 저작권의 보호를 받고 있습니다.<br>
                      Copyright © 2022 team K1ng all rights Reserved.
                  </p>
              </div>
  
              <div class="footer-sns-box">
                  <a href="#"><i class="fa-brands fa-square-youtube"></i></a>
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
              </div>
          </div>
          
      </div>
  </footer>
  </body> 
</html>
