<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shopping-cart.css">
    <!--header,footer css-->
    <link rel="stylesheet" href="../common/component/header/common-header.css">
    <link rel="stylesheet" href="../common/component/footer/footer.css">
    <script defer src="../common/component/common-include.js"></script>
    
    <script src="https://kit.fontawesome.com/d1371e05f7.js" crossorigin="anonymous"></script>
    <title>The Witch Store</title>
</head>
<body>
    
    <header common-include="../common/component/header/common-header.html"></header>
    
    <main class="shopping-cart">

        <section class="cart">
            <div class="cart-container">
                
                <h3 class="cart-title">장바구니</h3>
                
                <div class="cart-list-box">
                    <div class="cart-list">
                        <button type="button"class="select-btn"><i class="fa-solid fa-circle-check"></i></button>
                        <div class="product-img"><p>product imge</p></div>
                        <p class="product-name">Product Name</p>
                        <div class="count-box">
                            <button type="button" class="minus-btn"><i class="fa-solid fa-circle-minus"></i></button>
                            <p class="count-number">1</p>
                            <button type="button" class="plus-btn"><i class="fa-solid fa-circle-plus"></i></button>
                        </div>
                        <p class="product-price">36,000</p>
                        <button type="button" class="deleteBtn"><i class="fa-solid fa-x"></i></i></button>
                    </div>

                    <div class="cart-list">
                        <button type="button"class="select-btn"><i class="fa-solid fa-circle-check"></i></button>
                        <div class="product-img"><p>product imge</p></div>
                        <p class="product-name">Product Name</p>
                        <div class="count-box">
                            <button type="button" class="minus-btn"><i class="fa-solid fa-circle-minus"></i></button>
                            <p class="count-number">1</p>
                            <button type="button" class="plus-btn"><i class="fa-solid fa-circle-plus"></i></button>
                        </div>
                        <p class="product-price">36,000</p>
                        <button type="button" class="deleteBtn"><i class="fa-solid fa-x"></i></i></button>
                    </div>

                    <div class="cart-list">
                        <button type="button"class="select-btn"><i class="fa-solid fa-circle-check"></i></button>
                        <div class="product-img"><p>product imge</p></div>
                        <p class="product-name">Product Name</p>
                        <div class="count-box">
                            <button type="button" class="minus-btn"><i class="fa-solid fa-circle-minus"></i></button>
                            <p class="count-number">1</p>
                            <button type="button" class="plus-btn"><i class="fa-solid fa-circle-plus"></i></button>
                        </div>
                        <p class="product-price">36,000</p>
                        <button type="button" class="deleteBtn"><i class="fa-solid fa-x"></i></i></button>
                    </div>
                </div>
    
                <div class="cart-edit-box">
                    <div class="cart-edit-btn">
                        <button type="button" class="all-select-btn"><i class="fa-solid fa-circle-check"></i></button>
                        <button type="button" class="all-delete-btn">전체 삭제</button>
                        <button type="button" class="select-delete-btn">선택 삭제</button>
                    </div>
    
                    <div class="cart-price">
                        <span>합계</span>
                        <span class="sum-price">54,000</span>
                    </div>
                </div>
    
            </div>
        </section><!-- cart end -->

        <section class="order-btn">
            <button type="button" class="nonmember-order-btn"><a href="../order/order.html">비회원 주문하기</a></button>
            <button type="button" class="member-order-btn"><a href="../order/order.html">주문하기</a></button>
        </section>
        
    </main><!-- shopping cart end -->
    
    <footer common-include="../common/component/footer/footer.html"></footer>
    

</body>
</html>
