<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shopping-cart.css">
    <!--header,footer css-->
    <link rel="stylesheet" href="../common/component/header/common-header.css">
    <link rel="stylesheet" href="../common/component/footer/footer.css">
    <script defer src="../common/component/common-include.js"></script>
    <!-- header, footer css -->
    <script defer src="shopping-cart.js"></script>
    <script src="https://kit.fontawesome.com/d1371e05f7.js" crossorigin="anonymous"></script>
    <title>The Witch Store</title>
</head>
<body>
    
    <header common-include="../common/component/header/common-header.html"></header>
    
    <main class="shopping-cart">

        <section class="cart">
            <div class="cart-container">
                <h3 class="cart-title">장바구니</h3>
                
                <div class="cart-list-box" id="cartProductsContainer">

                    <!-- 장바구니에 담긴 상품들의 html 요소(카드 형태)가 주입되는 곳 -->
                    <div class="cart-product" id="productItem-${_id}">
                        <label class="checkbox select-btn" >
                            <input type="checkbox" id="checkbox-${_id}" ${isSelected ? "checked" : ""} />
                        </label>

                        <figure class="product-img">
                            <img id="image-${_id}" src="${imageUrl}"alt="product-image"/>
                        </figure>

                        <p class="product-name" id="title-${_id}">${compressString(title)}</p>

                        <div class="count-box">
                            <button 
                                type="button" 
                                class="minus-btn"  
                                id="minus-${_id}" 
                                ${quantity <= 1 ? "disabled" : ""} 
                                ${isSelected ? "" : "disabled"}
                            >
                                <i class="fa-solid fa-circle-minus"></i>
                            </button>
                            <input
                                class="count-number"
                                id="quantityInput-${_id}"
                                type="number"
                                min="1"
                                max="99"
                                value="${quantity}"
                                ${isSelected ? "" : "disabled"}
                            />
                            <button 
                                type="button" 
                                class="plus-btn"
                                id="plus-${_id}"
                                ${quantity <= 99 ? "disabled" : ""}
                                ${isSelected ? "" : "disabled"}
                            >
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                        <p class="product-price" id="total-${_id}">${addCommas(quantity * price)}원</p>
                        <button type="button" class="deleteBtn" id="delete-${_id}"><i class="fa-solid fa-x"></i></button>
                    </div>
                </div>

                <div class="cart-edit-box">
                    <div class="cart-edit-btn">
                        <input type="checkbox" class="all-select-check" id="allSelectCheckbox" />
                        <button type="button" class="all-delete-btn" id="allSelectCheckbox" >전체 삭제</button>
                        <button type="button" class="select-delete-btn" id="partialDeleteLabel">선택 삭제</button>
                    </div>
    
                    <div class="cart-price">
                        <span>합계</span>
                        <span id="orderTotal"></span>
                    </div>
                </div>

            </div>
        </section><!-- cart end -->

        <section class="order-btn">
            <button type="button" class="nonmember-order-btn" id="purchaseButton"><a href="../order/order.html">비회원 주문하기</a></button>
            <button type="button" class="member-order-btn" id="purchaseButton"><a href="../order/order.html">주문하기</a></button>
        </section>
        
    </main><!-- shopping cart end -->
    
    <footer common-include="../common/component/footer/footer.html"></footer>
    

</body>
</html>
