@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Ultra&display=swap');

* { margin: 0; padding: 0; box-sizing: borderBox;}
ol, ul, dl { list-style: none;}
a { text-decoration: none; color: #FFFFFF; cursor: pointer;}
button{ all: unset; cursor: pointer;}
.en{ 
    font-family: 'Ultra', serif; 
}

body {
    background: #0E1335;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-family: 'Noto Sans KR', sans-serif;
}
/* common property */


.center{
    margin: 0 auto;
    max-width: 1240px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    margin-bottom: 80px;
    padding: 0 20px;
}
.logo img{
    display: block;
    height: 16px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* common end */


.nav .loginSignupBox{
    margin-right: 40px;
}

.nav .loginSignupBox button:first-child{
    margin-right: 20px;
}
.nav .loginSignupBox .loginBtn,
.nav .loginSignupBox .signupBtn{
    font-size: 18px;
}
.nav .loginSignupBox > button a:hover{
    color: #FFD84B;
}
/* loginSignup end */


.userInfoBox{
    position: relative;
    margin-right: 20px;
    display: flex;
}
.nav .userInfo:hover .userMenuBox{
    display: block;
}

.nav .userInfoBox .userInfo{
    display: flex;
    align-items: center;
}
.nav .userInfoBox .userName{
    margin-right: 14px;
    color: #FFFFFF;
}

.nav .userInfoBox .userName-container{
    display: flex;
    align-items: center;
    margin: 0 20px;
}


.nav .userInfoBox .userInfoBtn i{
    font-size: 26px;
    color: #D9D9D9;
}

.nav .userInfoBox .userInfoBtn i:hover{
    color: #FFD84B;
}
.nav .userMenuBox{
    position: absolute;
    right: 0;
    margin-top: 134px;
    padding: 10px 10px 2px 10px;
    width: 120px;
    border-radius: 8px;
    background-color: #454DBC;
    z-index: 100;
    display: none;
}
.nav .userMenuBox .userMenu li{
    margin-bottom: 8px;
    text-align: center;
}
.nav .userMenuBox .userMenu li:hover{
    background-color: #2b3075;
}
/* userMenu end */


.nav .userCartBtn i{
    font-size: 20px;
}
.nav .userCartBtn i:hover{
    color: #FFD84B;
}
/* cart class  */