<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>로그인 페이지</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="login.css" />
    <script src="login.js" type="module" defer></script>

    <!--header,footer css-->
    <link rel="stylesheet" href="../common/component/header/common-header.css">
    <link rel="stylesheet" href="../common/component/footer/footer.css">
    <script defer src="../common/component/common-include.js"></script>

    
    <!--common css-->
    <link rel="stylesheet" href="../common/component/css/common.css">
  </head>
  <body>

    <header common-include="../common/component/header/common-header.html"></header>
    <!-- <header id="header">
      <div class="header-container">

          <h1 class="logo">
              <a href="../home/home.html"><p class="en">THE WITCH STORE</p></a>
          </h1>

          <nav class="user-nav">
              <div class="user-info-box">
                  <div class="user-info">
                        <!- 로그인 헤더 -->
                      <!-- <label for="login-head" class="login-head en"> login</label>
                      <label for="sign-up-head" class="sign-up-head en"> sign up</label>
                  </div>
                  
                  <div class="user-menu-box">
                      <ul class="user-menu">
                          <li><a href="#">주문내역</a></li>
                          <li><a href="#">계정관리</a></li>
                          <li><a href="#">로그아웃</a></li>
                      </ul>
                  </div>
              </div>

              <a href="#" class="user-cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
          </nav>

      </div> -->
  </header>

  <main id="login-area">
    <!-- 배경 별 -->
    <div class="background-image">

     <!-- 로그인 폼(Form) -->
    <div class="login-form-container">
      <form class="box login-form-box" id="loginForm">
        <p class="title en">Welcome!</p>
        <div class="field">
          <label class="label en" for="emailInput">email</label>
          <div class="control en">
            <input
              class="input"
              id="emailInput"
              type="email"
              placeholder="abc@example.com"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="field mb-5">
          <label class="label en" for="passwordInput">password</label>
          <div class="control en">
            <input
              class="input"
              id="passwordInput"
              type="password"
              placeholder="********"
              autocomplete="on"
            />
          </div>
        </div>

        <button class="button en" id="submitButton">
          login
        </button>
      </form>
    </div>
  </div>
</main>
 <!-- main end -->

 <footer common-include="../common/component/footer/footer.html"></footer>

  </body>
</html>
