<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--폰트  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ultra&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

    <!-- 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="product-total.css" />
    <link rel="stylesheet" href="product.css" />
    <link rel="stylesheet" href="footer.css" />

    <!--자바스크립트 변경 (삭제 예정) -->
    <!-- <script src="./seperate.js"></script> -->
    <!-- <script
    src="../common/component/pro-header/pro-header.js"
    type="module"
    defer
  ></script> -->

    <title>제품 상세 페이지</title>
  </head>
  <body>

    <header common-include="../common/component/pro-header/pro-header.html"></header>

    <div class="container">
      <div class="side-bar" common-include="../common/component/side-bar/side-bar.html"></div>
      
      <!-- db 받아와야함 -->
      <div class="product-list">

        <div class="category"><h2>Type1</h2></div>
        
        <div class="product-item-container">
          
          <div class="product-item">
            <a href="./product-detail.html">
              <div class="product-item-img"><img src="../image/item1.jpg" /></div>
              <div class="product-item-info">
                <div class="product-item-name">Product1</div>
                <div class="product-item-price">18,000</div>
              </div>
            </a>
          </div>
          
          <div class="product-item">
            <div class="product-item-img"><img src="../image/item1.jpg" /></div>
            <div class="product-item-info">
              <div class="product-item-name">Product1</div>
              <div class="product-item-price">18,000</div>
            </div>
          </div>
          
          <div class="product-item">
            <div class="product-item-img"><img src="../image/item1.jpg" /></div>
            <div class="product-item-info">
              <div class="product-item-name">Product1</div>
              <div class="product-item-price">18,000</div>
            </div>
          </div>

          <div class="product-item">
            <div class="product-item-img"><img src="../image/item1.jpg" /></div>
            <div class="product-item-info">
              <div class="product-item-name">Product1</div>
              <div class="product-item-price">18,000</div>
            </div>
          </div>

        </div>


      </div>
    </div>
    <div class="footer" common-include="../common/component/footer/footer.html"></div>

    <script
      src="..\common\component\common-include.js"
      type="module"
      defer
    ></script>
  </body>
</html>
