html,
body {
  min-width: 360px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #0e1335;

  font-family: "Noto Sans", sans-serif;
  color: white;
}

header{
  margin-bottom: 0;
  padding-bottom: 0;
  height: 50px;
}

.containerBox{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  height: 100%;
}

.brandTitle{
  text-align: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #454dbc;
  width: 80%
}

.brandLogo{
  color: #FFD84B;
  font-size: 80px;
}

/* main(container) */

.product-list {
  width: 100%;
  min-height: 1000px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*side-bar*/

.side-bar {
  width: 18%;
  min-height: 1000px;
  border-right: 1px solid #454dbc;


  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}

.menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menu > li {
  margin-bottom: 50px;
}

.menu-btn {
  display: none;
}
.label-btn {
  cursor: pointer;
}


.submenu {
  display: none;
  list-style: none;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  line-height: 33px;
}

.submenu > li {
  margin-top: 50px;
}

/* 메뉴 카테고리 클릭시 애니메이션 */
#menu-btn1:checked ~ #submenu1 {
  display: block;
}
#menu-btn1:checked ~ .label-btn > i {
  transform: rotate(90deg);
}
#menu-btn2:checked ~ #submenu2 {
  display: block;
}
#menu-btn2:checked ~ .label-btn > i {
  transform: rotate(90deg);
}

/* footer */
.footer {
  width: 80%;
  height: 200px;
  border-top: 1px solid #454dbc;
  margin: 0 10%;
  padding: 0;

  font-family: 'Noto Sans', sans-serif;
  color: #D9D9D9;
}

#footer {
  margin: 0px;
  padding-top: 3%;
  width: 100%;
  height: 97%;
}

.footer-box {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.footer-copy-box p {
  margin-top: 0px;
  font-size: 13px;
  line-height: 40px;
  color: #D9D9D9;
}
.footer-sns-box a i {
  margin-left: 10px;
  font-size: 24px;
  text-align: right;
  color: #D9D9D9;
}
.footer-sns-box a i:hover {
  color: #ffd84b;
}