<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="admin-order-check.css" />
    <link
      rel="stylesheet"
      href="../common/component/header/common-header.css"
    />
    <link rel="stylesheet" href="../common/component/footer/footer.css" />
    <script defer src="../common/component/common-include.js"></script>
    <script
      src="../common/component/header/header.js"
      type="module"
      defer
    ></script>
    <script
      defer
      src="https://kit.fontawesome.com/d1371e05f7.js"
      crossorigin="anonymous"
    ></script>
    <title>The Witch Store</title>
  </head>
  <body>
    <header
      common-include="../common/component/header/common-header.html"
    ></header>

    <section class="admin-order-check">
      <div class="container">
        <div class="title">
          <h3 class="title__txt">주문조회</h3>
        </div>

        <div class="info-container">
          <div class="orders-info">
            <div class="orders-info__row orders-info__title">
              <div class="orders-info__column"><p>날짜</p></div>
              <div class="orders-info__column"><p>주문정보</p></div>
              <div class="orders-info__column"><p>상태</p></div>
              <div class="orders-info__column"><p>신청</p></div>
            </div>

            <div class="orders-info__row">
              <div class="orders-info__column">2022-11-02</div>
              <div class="orders-info__column">product Name / 1개</div>
              <div class="orders-info__column">상품 준비중</div>
              <div class="orders-info__column">
                <button type="button" class="order-cancel__btn">
                  주문취소
                </button>
              </div>
            </div>

            <div class="orders-info__row">
              <div class="orders-info__column">2022-11-02</div>
              <div class="orders-info__column">product Name / 1개</div>
              <div class="orders-info__column">상품 준비중</div>
              <div class="orders-info__column">
                <button type="button" class="order-cancel__btn">
                  주문취소
                </button>
              </div>
            </div>

            <div class="orders-info__row">
              <div class="orders-info__column">2022-11-02</div>
              <div class="orders-info__column">product Name / 1개</div>
              <div class="orders-info__column">상품 준비중</div>
              <div class="orders-info__column">
                <button type="button" class="order-cancel__btn">
                  주문취소
                </button>
              </div>
            </div>

            <div class="orders-info__row">
              <div class="orders-info__column">2022-11-02</div>
              <div class="orders-info__column">product Name / 1개</div>
              <div class="orders-info__column">상품 준비중</div>
              <div class="orders-info__column">
                <button type="button" class="order-cancel__btn">
                  주문취소
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer common-include="../common/component/footer/footer.html"></footer>
  </body>
</html>
