<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stickcode_modal</title>
    <link rel="stylesheet" href="test-modal.css">
</head>
<body>
<button type='button' id="modal_btn">모달창 키기</button>
<div class="modal_background"></div>
<div class="modal_wrap">
    <div class="modal_close"><img class="closeImg" src="closeImg.png" alt="x버튼"></div>
    <div class="text">
        스틱코드에서 개발에 필요한 모든 코드를 쉽게 사용하세요.
        https://stickode.com/mainlogin.html
    </div>
</div>
</body>
<script src="test-modal.js"></script>
</html>