<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원가입</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="register.css" />
    <script src="register.js" type="module" defer></script>

    <!--header,footer css-->
    <link rel="stylesheet" href="../common/component/header/common-header.css">
    <link rel="stylesheet" href="../common/component/footer/footer.css">
    <script defer src="../common/component/common-include.js"></script>

  </head>
  <body>
    <header common-include="../common/component/header/common-header.html"></header>
    <!-- 헤더 -->
    <!-- <header id="header">
      <div class="header-container">

          <h1 class="logo">
              <a href="../product-list/product.html"><p class="en">THE WITCH STORE</p></a>
          </h1>

          <nav class="user-nav">
              <div class="user-info-box">
                  <div class="user-info">
                        <!- 로그인 헤더 -->
                      <!-- <label for="login-head" class="login-head en"> login</label>
                      <label for="sign-up-head" class="sign-up-head en"> sign up</label>
                  </div>
                  
                  <div class="user-menu-box">
                      <ul class="user-menu">
                        <li><a href="../oderdetail/orderdetail.html">주문내역</a></li>
                        <li><a href="../changing-info/changing-info.html">계정관리</a></li>
                        <li><a href="../product-list/product.html">로그아웃</a></li>
                      </ul>
                  </div>
              </div>

              <a href="../shopping-cart/shopping-cart.html" class="user-cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
          </nav> -->

      </div> 
  </header><!-- header end -->

  <main id="login-area">
      <!-- 배경 별 -->
    <div class="background-image">
    <!-- 회원가입 폼(Form) -->
    <div class="register-user-form-container">
      <form class="box register-user-form-box" id="registerUserForm">
        <p class="title en">Welcome!</p>
        <div class="field">
          <label class="label en" for="fullNameInput">name</label>
          <div class="control">
            <input
              class="input"
              id="fullNameInput"
              type="text"
              placeholder="유재석"
              autocomplete="on"
            />
          </div>
        </div>
        
        <div class="field">
          <label class="label en" for="emailInput">email</label>
          <div class="control">
            <input
              class="input"
              id="emailInput"
              type="email"
              placeholder="abc@example.com"
              autocomplete="on"
            />
          </div>
        </div>

        <div class="field">
          <label class="label en" for="passwordInput">password</label>
          <div class="control">
            <input
              class="input"
              id="passwordInput"
              type="password"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="field">
          <label class="label en" for="passwordConfirmInput">password confirm</label>
          <div class="control">
            <input
              class="input"
              id="passwordConfirmInput"
              type="password"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>

        <button class="button en" id="submitButton">
          sign up!
        </button>
      </form>
      </div>

   </div>
 </main>
 <!-- main end -->
     <!-- main end -->

     <footer common-include="../common/component/footer/footer.html"></footer>

  </body>
</html>
