
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <span class="has-text-link" id="brandName">THE WITCH STORE</span>
        </a>
      </div>

      <div class="navbar-end">
        <ul id="navbar-info">
          <!--  -->
          <li><a href="../login/login.html">login</a></li>
          <li><a href="../register/register.html">sign up</a></li>
          <li>
            <a href="../shopping-cart/shopping-cart.html" aria-current="page">
              <span class="icon">
                <i class="fas fa-cart-shopping"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
