<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="order.css">
    <!--header,footer css-->
    <link rel="stylesheet" href="../common/component/header/common-header.css">
    <link rel="stylesheet" href="../common/component/footer/footer.css">
    <script defer src="../common/component/common-include.js"></script>
    <script
      src="../common/component/header/header.js"
      type="module"
      defer
      ></script>
    <!--header,footer css-->
    <script defer src="order.js"></script>
    <script src="https://kit.fontawesome.com/d1371e05f7.js" crossorigin="anonymous"></script>
    <title>The Witch Store</title>
</head>
<body>

    <header common-include="../common/component/header/common-header.html"></header>

    <main class="order">

        <section class="order-info-container">
            <div class="order-info-box">
    
                <h3 class="order-info-title">배송 정보</h3>
    
                <div class="order-info-list-box">
                    <div class="order-info-list">

                        <div class="order-info-box">
                            <label for="order-name" class="label">이름</label>
                            <input class="order-name" id="receiverName" type="text" placeholder="이름을 입력해 주세요." autocomplete="on">
                        </div>
                        
                        <div class="order-info-box">
                            <label for="order-phon-number" class="label">전화번호</label>
                            <input class="order-phon-number"  id="receiverPhoneNumber" type="text" placeholder="010-0000-0000" autocomplete="on">
                        </div>
                        
                        <div class="order-info-box">
                            <label for="order-adress" class="label">주소</label>
                            <input class="order-adress" id="address" type="text" placeholder="주소를 입력해 주세요." autocomplete="on">
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- oderer info end -->

        <section class="pay-container">
            <h3 class="pay-title">결제 정보</h3>

            <div class="pay-info-box" id="pay-product-container">
                <div class="info">
                    <p class="info-title">주문 상품</p>
                    <div class="product-list" id="productsTitle">
                        <!-- 상품명 들어가는 곳 -->
                    </div>
                </div>
                <div class="info" id="productsTotal">
                    <p class="info-title" >상품 금액</p>
                    <!-- 상품 금액 들어가는 곳 -->
                </div>
                <div class="info">
                    <p class="info-title">배송비</p>
                    <p id="deliveryFee">3,000</p>
                </div>

                <div class="total info" id="orderTotal">
                    <p >총 결제금액</p>
                    <!-- 총 결제  -->
                </div>
            </div>

            <div class="pay-btn-box">
                <button type="button" class="pay-btn" id="checkoutButton"><a href="../finish-shopping/finish-shopping.html">결제하기</a></button>
            </div>
        </section>

    </main>

    <footer common-include="../common/component/footer/footer.html"></footer>
    

</body>
</html>