<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--폰트  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Ultra&display=swap"
    rel="stylesheet"
    />
    <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap"
    rel="stylesheet"
    />
    
    <!-- 아이콘 -->
    <script
    defer
    src="https://kit.fontawesome.com/9daa42bcef.js"
    crossorigin="anonymous"
    ></script>
    
    <!-- css -->
    <link rel="stylesheet" href="../product-list/product-total.css" />
    <link rel="stylesheet" href="product-detail.css" />
    <link rel="stylesheet" href="../common/component/header/common-header.css">
    <link rel="stylesheet" href="../common/component/css/common.css">
    
    <!-- js -->
    <script
      src="../common/component/common-include.js"
      type="module"
      defer
    ></script>
    <script
      src="../common/component/header/header.js"
      type="module"
      defer
    ></script>
    <script type="module" src="./product-detail.js" defer></script>
    
    <title>제품 상세 페이지</title>
  </head>
  <body>
    
    <header common-include="../common/component/header/common-header.html"></header>
    <div class="containerBox">
      <div class="brandTitle en"><a class="brandLogo" href='../home/home.html'>THE WITCH STORE</a></div>
      <div class="container">
        <div class="side-bar" common-include="../common/component/side-bar/side-bar.html"></div>

        <div class="product-list">
          <div class="detail-item-container">
          </div>
        </div>
      </div>
    </div>
    <div class="footer" common-include="../common/component/footer/footer.html"></div>
    
  </body>
  </html>
  