<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   
    <link rel="stylesheet" href="finish_shopping.css" />
    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/b541613f7c.js" crossorigin="anonymous"></script>
    <script
      src="../common/component/header/header.js"
      type="module"
      defer
    ></script>

    <title>쇼핑완료</title>
  </head>
  <body>
    <!-- 헤더 -->
  <div class="first">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container mt-3">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <span class="has-text-link" id="brandName">THE WITCH STORE</span>
            </a>
          </div>
  
          <div class="navbar-end">
            <ul id="navbar">
              <!--  -->
              <li><a href="/login">로그인</a></li>
              <li><a href="/register">회원가입</a></li>
              <li>
                <a href="#cart" aria-current="page">
                  <span class="icon">
                    <i class="fas fa-cart-shopping"></i>
                  </span>
                  <span>카트</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
     <!-- 중앙페이지-->
        <div class="main"> <!-- main 간격 조정하면 finish text도 조정됨.-->
          <div class="finish_text">
              <h1> 주문이 정상적으로 완료되었습니다!</h1>
              <i class="fa-solid fa-basket-shopping fa-11x" ></i>
          </div>
          <div class="btn-box">
            <button class="btn" id="check-btn">주문 조회 바로가기</button>
            <button class="btn" id="main-btn">메인 홈으로 이동</button>
        </div>
        </div>
      </div>
      
    <!-- footer-->
      <div class="footer">
        <div>LOGO</div>
        <div>
          CEO. 세최마 <br>
          Addr. 호그와트 해리1로 280-3 3F 고객상담실 Fax/Tel. <br>
          02 - 123 -2912~5 <br>
          COPYRIGHT 2022. Team K1ng. ALL RIGHT RESERVED.
        </div>
      </div>


    </div>
  </body> 
</html>
