<ul class="menu">
  <li>
    <input type="checkbox" class="menu-btn" id="menu-btn1" />
    <label for="menu-btn1" class="label-btn" onclick=""><i class="fa-solid fa-caret-right"></i> 제품별</label>
    <ul class="submenu" id="submenu1">
      <li><a href="/product-list/product.html">All</a></li>
    </ul>
  </li>
  <li>
    <input type="checkbox" class="menu-btn" id="menu-btn2" />
    <label for="menu-btn2" class="label-btn" onclick=""><i class="fa-solid fa-caret-right"></i> 유형별</label>
    <ul class="submenu" id="submenu2">
      <li><a href="/product-list/product.html?personType=아이돌">아이돌 유형</a></li>
      <li><a href="/product-list/product.html?personType=찐우정">찐우정 유형</a></li>
      <li><a href="/product-list/product.html?personType=컨설팅">컨설팅 유형</a></li>
      <li><a href="/product-list/product.html?personType=오아시스">오아시스 유형</a></li>
    </ul>
  </li>
</ul>