<ul class="menu">
    <li>
      <input type="checkbox" class="menu-btn" id="menu-btn1" />
      <label for="menu-btn1" class="label-btn" onclick=""><i class="fa-solid fa-caret-right"></i> 제품별</label>
      <ul class="submenu" id="submenu1">
        <li><a href="#">All</a></li>
        <li><a href="#">Category1</a></li>
        <li><a href="#">Category2</a></li>
        <li><a href="#">Category3</a></li>
      </ul>
    </li>
    <li>
      <input type="checkbox" class="menu-btn" id="menu-btn2" />
      <label for="menu-btn2" class="label-btn" onclick=""><i class="fa-solid fa-caret-right"></i> 유형별</label>
      <ul class="submenu" id="submenu2">
        <li><a href="#">Type1</a></li>
        <li><a href="#">Type2</a></li>
        <li><a href="#">Type3</a></li>
        <li><a href="#">Type4</a></li>
      </ul>
    </li>
  </ul>