<ul class="menu">
    <li>
      <input type="checkbox" class="menu-btn" id="menu-btn1" />
      <label for="menu-btn1" class="label-btn" onclick=""><i class="fa-solid fa-caret-right"></i> 제품별</label>
      <ul class="submenu" id="submenu1">
        <li><a href="./product.html">All</a></li>
        <li><a href="./product.html?category=인형">Category1</a></li>
        <li><a href="./product.html?category=디퓨저">Category2</a></li>
        <li><a href="./product.html?category=드림캐쳐">Category3</a></li>
      </ul>
    </li>
    <li>
      <input type="checkbox" class="menu-btn" id="menu-btn2" />
      <label for="menu-btn2" class="label-btn" onclick=""><i class="fa-solid fa-caret-right"></i> 유형별</label>
      <ul class="submenu" id="submenu2">
        <li><a href="./product.html?type=A">Type1</a></li>
        <li><a href="./product.html?type=B">Type2</a></li>
        <li><a href="./product.html?type=C">Type3</a></li>
        <li><a href="./product.html?type=D">Type4</a></li>
      </ul>
    </li>
  </ul>