/* 배경 - 시간되면 넓게 이미지 만들기*/
.backgroundImage {
  background-image: url("../image/stars.png");
  background-repeat: repeat;
  /* width: 100%;
  height: 688px; */
}

/*심리테스트*/

.questionTitle {
  width: 100%;
  margin: 100px auto 50px auto;
  text-align: center;
  /* display:flex; */

  margin-bottom: 35px;
  color: #ffd84b;
  font-style: normal;
  line-height: 38px;
}

#moonImg {
  width: 20%;
  height: 20%;
  margin-right: 80%;
  /* background-image: url('../image/moon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

.question {
  width: 100%;
  margin: auto;
  text-align: center;

  margin-bottom: 35px;
  color: #ffd84b;
  font-style: normal;
  line-height: 38px;
}

/* .selectBox > p {
  margin: inline start 10px;
} */

/*정보*/

.selectBox {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 30%;
}

.questionBox {
  margin-bottom: 100px;
}

.selectAbox {
  width: 272px;
  height: 276px;
  margin-top: 30px;
  border-radius: 81px;
  background-color: #ffd84b;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.selectBbox {
  width: 272px;
  height: 276px;
  margin-top: 30px;
  border-radius: 81px;
  background-color: #454dbc;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: black;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.showResultBox {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 30%;
  text-align: center;
}

.showResultBtn {
  background-color: #4bffb2;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: black;
  height: 60px;
  width: 60%;
  margin: 100px auto 50px auto;
  border-radius: 81px;
  border: none;
}

/*결과*/

.resultPage {
  text-align: center;
}

.resultAnswer {
  width: 70%;
  margin: auto;
  text-align: center;

  margin-bottom: 35px;
  color: #ffd84b;
  font-style: normal;
  line-height: 38px;
}

.resultTitle {
  width: 70%;
  margin: 100px auto 50px auto;
  text-align: center;
  /* display:flex; */

  margin-bottom: 35px;
  font-style: normal;
  line-height: 38px;
}
.resultSelectBox {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 30%;
  text-align: center;
}

.resultBox {
  margin: 50px 40px 100px 40px;
  border-radius: 81px;
  border: none;
  width: 200px;
  height: 30%;
}

.shoppingBtn {
  background-color: #ffd74b;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: black;
  height: 40px;
}

.selectBbox.select {
  background-color: beige;
}

.selectBbox.select {
  background-color: beige;
}
.tryAgainBtn {
  background-color: #d9d9d9;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: black;
  height: 40px;
}

.icon {
  width: 60%;
  height: 60%;
  margin: auto;
}
