<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>나에게 필요한 위로는?</title>
    
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="type-test.css" />
   
    <!--header,footer css-->
    <link rel="stylesheet" href="../common/component/header/common-header.css">
    <!-- <link rel="stylesheet" href="../common/component/footer/footer.css"> -->
    <script defer src="../common/component/common-include.js"></script>
    <script src="../common/component/header/header.js" type="module" defer></script>
    <script src="type-test.js" type="module" defer></script>
    
    <!--common css-->
    <link rel="stylesheet" href="../common/component/css/common.css">

  </head>
  <body>
    <header common-include="../common/component/header/common-header.html"></header>

      </div> 
  </header><!-- header end -->

  <main id="login-area">
      <!-- 배경 별 -->
    <div class="background-image">

    <!-- 심리테스트 질문 -->
    <div class="question-title">
      <div class="icon moon-img"> 
        <img id="moon_img" src="../image/moon.png" />
      </div>
      <h2>나에게 필요한 위로는?</h2>
    </div>


  <div class="main-page" id="main-page">
      <!-- 첫번째 질문, 카테고리1 -->
    <div class="question-box first-question">
      <div class="question">
        <h2>Q1. 좋아하는 TV 프로그램은?</h2>
      </div>
      
  
      <div class="select-box">
        <button class="box select-a-box" value="A_1">
          <div class="select-a">
            <div class="icon"> 
              <img id="game_img" src="../image/video_game.png" />
            </div>
            <p>예능, 오락</p>
          </div>
        </button>
    
        <button class="box select-b-box" value="B_1">
            <div class="select-b">
                <div class="icon">
                  <img id="news_img" src="../image/newspaper.png" />
                </div>
                <p>뉴스, 시사, 퀴즈</p>
              </div>
            </button>
      </div>
    </div>

       <!-- 두번째 질문 -->
       <div class="question-box second-question">
        <div class="question">
          <h2>Q2. 다투고 난 뒤 화해하는 방법은?</h2>
        </div>
        
    
        <div class="select-box">
          <button class="box select-a-box" value="A_1">
            <div class="select-a">
              <div class="icon"> 
                <img id="bowing_img" src="../image/woman-bowing.png" />
              </div>
              <p>바로 사과하고 화해한다</p>
            </div>
          </button>
      
          <button class="box select-b-box" value="B_1">
              <div class="select-b">
                  <div class="icon">
                    <img id="facepalming_img" src="../image/man-facepalming.png" />
                  </div>
                  <p>진정한 뒤 다시 이야기한다</p>
                </div>
              </button>
        </div>
      </div>

           <!-- 세번째 질문 -->
           <div class="question-box third-question">
            <div class="question">
              <h2>Q3. 지하철에서 길을 헤맬 때 가장 먼저 찾게 되는 것은?</h2>
            </div>
            
        
            <div class="select-box">
              <button class="box select-a-box" value="A_1">
                <div class="select-a">
                  <div class="icon"> 
                    <img id="pilot_img" src="../image/pilot.png" />
                  </div>
                  <p>역무원</p>
                </div>
              </button>
          
              <button class="box select-b-box" value="B_1">
                  <div class="select-b">
                      <div class="icon">
                        <img id="map_img" src="../image/world-map.png" />
                      </div>
                      <p>구내지도 또는 안내표지</p>
                    </div>
                  </button>
            </div>
          </div>

          <!-- 네번째 질문 , 카테고리2-->
          <div class="question-box fourth-question">
            <div class="question">
              <h2>Q4. 상대에게 받고 싶은 위로는?</h2>
            </div>
            
        
            <div class="select-box">
              <button class="box select-a-box" value="A_2">
                <div class="select-a">
                  <div class="icon"> 
                    <img id="pleading_img" src="../image/pleading-face.png" />
                  </div>
                  <p>"무슨 일 있었어?"라고 신경써서 말 걸어주기</p>
                </div>
              </button>
          
              <button class="box select-b-box" value="B_2">
                  <div class="select-b">
                      <div class="icon">
                        <img id="zipper_img" src="../image/zipper-mouth-face.png" />
                      </div>
                      <p>내 기분이 나아질때까지 조용히 기다려주기</p>
                    </div>
                  </button>
            </div>
          </div>

          <!-- 다섯번째 질문 -->
          <div class="question-box fifth-question">
            <div class="question">
              <h2>Q5. 데이트 계획을 세울 때 당신은?</h2>
            </div>
            
        
            <div class="select-box">
              <button class="box select-a-box" value="A_2">
                <div class="select-a">
                  <div class="icon"> 
                    <img id="holding_img" src="../image/woman-and-man-holding-hands.png" />
                  </div>
                  <p>가능하다면 상대방에게 맞추려고 한다</p>
                </div>
              </button>
          
              <button class="box select-b-box" value="B_2">
                  <div class="select-b">
                      <div class="icon">
                        <img id="smile_img" src="../image/smiling-face-with-hearts.png" />
                      </div>
                      <p>나 스스로가 즐거워야 같이 즐거울 수 있다고 생각한다</p>
                    </div>
                  </button>
            </div>
          </div>

          <!-- 여섯번째 질문 -->
          <div class="question-box sixth-question">
            <div class="question">
              <h2>Q6. 대화를 할 때의 당신은?</h2>
            </div>
            
        
            <div class="select-box">
              <button class="box select-a-box" value="A_2">
                <div class="select-a">
                  <div class="icon"> 
                    <img id="ear_img" src="../image/ear.png" />
                  </div>
                  <p>주로 상대방의 이야기를 듣는 역할</p>
                </div>
              </button>
          
              <button class="box select-b-box" value="B_2">
                  <div class="select-b">
                      <div class="icon">
                        <img id="bubble_img" src="../image/right-anger-bubble.png" />
                      </div>
                      <p>적극적으로 말하는 스타일</p>
                    </div>
                  </button>
            </div>
          </div>

          <div class="show-result-box" id="show-result-box">
            <button class="show-result-btn" id="show-result-btn">
              결과 보기
            </button>
          </div>


    </div>
   
    <div class="result-page" id="result-page">

      <div class="result-title" id="result-title">
        <!-- <h1>당신은 아이돌 타입!</h1> -->
      </div>

    <div class="result-answer" id="result-answer">
      <!-- <h3>타고난 밝음과 상냥함으로 상대에게 활력을 불어넣는 아이돌 타입이라고 할 수 있습니다. 
        우울할 때일수록 기분을 빨리 전환하고 싶은 경향이 강해,
    친구에게 상담하거나 다른 일을 함으로써 리프레쉬하려고 하는 경우가 많습니다. 
아이돌 타입은 상대를 기쁘게 하는 것에 보람을 느끼기 때문에,우울할 때일수록 사람들과의 교류가 필요합니다.
</h3> -->
    </div>
    

    <div class="result-selet-box" style="text-align: center">
      <button class="result-box try-again-btn" id="try-again-btn" onClick="window.location.reload()">
        테스트 다시 하기
      </button>
  
      <button class="result-box shopping-btn" id="shopping-btn"  onclick="location.href='/product-list/product.html';">
        다른 제품 보러가기
        </button>

    </div>


    </div>
    
   

   </div>
 </main>
 <!-- main end -->

     <!-- <footer common-include="../common/component/footer/footer.html"></footer> -->

  </body>
</html>
