<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   
    <link rel="stylesheet" href="admin-webservice.css" />
    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/b541613f7c.js" crossorigin="anonymous"></script>

     <!--header,footer css-->
     <link rel="stylesheet" href="../common/component/header/common-header.css">
     <link rel="stylesheet" href="../common/component/footer/footer.css">
     <script defer src="../common/component/common-include.js"></script>
     <script src="../common/component/header/header.js" type="module" defer></script>

    <!--common css-->
    <link rel="stylesheet" href="../common/component/css/common.css">
    <script defer src="admin-main.js"></script>

    <title>관리자 웹서비스 관리</title>
  </head>
  <body>
   
    <header common-include="../common/component/header/common-header.html"></header>

    <main class="admin-webservice-main">
     <!-- 중앙페이지-->
        <div class="main"> <!-- main 간격 조정하면 finish text도 조정됨.-->
          <div class="admin-webservice">
              <h3> 웹 서비스 관리 </h3>
          </div>

          <div class="menu-container">
            <!-- 주문관리 -->
            <a class="menu-card" href="/admin-order-management/admin-order-management.html">
              <div class="menu-icon">
                <span class="icon has-text-info">
                  <i class="fa-solid fa-credit-card"></i>
                </span>
              </div>
              <div class="menu-body">
                <p class="title">주문관리</p>
                <p class="subtitle">
                  모든 주문 내역을 확인 및 관리할 수 있습니다.
                </p>
              </div>
            </a>
  
            <!-- 회원관리 -->
            <a class="menu-card" href="/admin-users/admin-users.html">
              <div class="menu-icon">
                <span class="icon has-text-info">
                  <i class="fa-solid fa-address-book"></i>
                </span>
              </div>
              <div class="menu-body">
                <p class="title">회원관리</p>
                <p class="subtitle">
                  모든 회원 정보를 확인 및 관리할 수 있습니다.
                </p>
              </div>
            </a>
  
            <!-- 카테고리 추가하기 -->
            <a class="menu-card" href="/add-category/add-category.html">
              <div class="menu-icon">
                <span class="icon has-text-info">
                  <i class="fa-solid fa-table-list"></i>
                </span>
              </div>
              <div class="menu-body">
                <p class="title">카테고리 추가</p>
                <p class="subtitle">
                  제품이 속할 수 있는, 카테고리 정보를 추가할 수 있습니다.
                </p>
              </div>
            </a>
  
            <!-- 제품 추가하기 -->
            <a class="menu-card" href="/add-product/add-product.html">
              <div class="menu-icon">
                <span class="icon has-text-info">
                  <i class="fa-solid fa-gift"></i>
                </span>
              </div>
              <div class="menu-body">
                <p class="title">제품 추가</p>
                <p class="subtitle">제품 정보를 추가할 수 있습니다.</p>
              </div>
            </a>
          </div>
      
      <footer common-include="../common/component/footer/footer.html"></footer>
    </main>
  </body> 
</html>