<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원 정보 관리</title>

    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>

    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="changing-info.css" />
    <script src="changing-info.js" type="module" defer></script>
    <!--header,footer css-->
    <link rel="stylesheet" href="../common/component/header/common-header.css">
    <link rel="stylesheet" href="../common/component/footer/footer.css">
    <script defer src="../common/component/common-include.js"></script>

    <!--common css-->
    <link rel="stylesheet" href="../common/component/css/common.css">

  </head>
  <body>
    <!-- 헤더 -->
    <header common-include="../common/component/header/common-header.html"></header>

    <section class="section">
      <div class="container">
        <div class="block account-header">
          <h1 class="subtitle is-4" id="securityTitle">회원정보 관리</h1>
        </div>
        <div class="menu-container">
          <div class="form-container">
            <form class="box form-box" id="loginForm">
              <div class="field">
                <label class="label" for="fullNameInput">이름</label>
                <div class="control">
                  <input
                    class="input"
                    id="fullNameInput"
                    type="text"
                    autocomplete="off"
                  />
                  <!-- 토클 스위치 -->
                  <label class="switch">
                    <input type="checkbox" id="fullNameToggle" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>

              <div class="field">
                <label class="label" for="passwordInput">비밀번호</label>
                <div class="control">
                  <input
                    class="input"
                    id="passwordInput"
                    type="password"
                    autocomplete="off"
                  />
                  <!-- 토클 스위치 -->
                  <label class="switch">
                    <input type="checkbox" id="passwordToggle" />
                    <span class="slider round"></span>
                    <span class="info-text" style="opacity: 0">
                      소셜 로그인의 경우는 비밀번호 설정이 불가합니다.
                    </span>
                  </label>
                </div>
              </div>

              <div class="field">
                <label class="label" for="passwordConfirmInput"
                  >비밀번호 확인</label
                >
                <div class="control">
                  <input
                    class="input"
                    id="passwordConfirmInput"
                    type="password"
                    autocomplete="off"
                  />
                </div>
              </div>

              <div class="field">
                <div class="field-label is-normal">
                  <label class="label label-address" for="address2">주소</label>
                </div>
                <div class="field-body search">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input postalCodeInput"
                        id="postalCodeInput"
                        type="text"
                        placeholder="주소찾기를 클릭해 주세요."
                        readonly
                      />
                    </p>
                  </div>
                  <div>
                    <button
                      class="button address-button"
                      id="searchAddressButton"
                    >
                      주소찾기
                    </button>
                  </div>
                  <!-- 토클 스위치 -->
                  <label class="switch switch-address">
                    <input type="checkbox" id="addressToggle" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>

              <div class="field">
                <div class="field-label is-normal no-label empty-label"></div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input"
                        id="address1Input"
                        type="text"
                        placeholder=""
                        autocomplete="on"
                        readonly
                      />
                    </p>
                  </div>
                </div>
              </div>


              <div class="field">
                <label class="label" for="phoneNumberInput">전화번호</label>
                <div class="control">
                  <input
                    class="input"
                    id="phoneNumberInput"
                    type="number"
                    placeholder="- 없이 입력해 주세요."
                    autocomplete="on"
                  />
                  <!-- 토클 스위치 -->
                  <label class="switch">
                    <input type="checkbox" id="phoneNumberToggle" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>

              <button
                class="button saveCompleteButton"
                id="saveCompleteButton"
              >
                저장하기
              </button>

              <!-- 정보 수정을 완료하기 위해, 현재 비밀번호를 입력할 Modal 창 -->
              <!-- <div id="modal" class="modal">
                <div class="modal-background" id="modalBackground"></div>
                <div class="modal-content">
                  <button
                    class="delete "
                    id="modalCloseButton"
                    aria-label="close"
                  ></button>
                  <div class="box last-box">
                    <p class="mb-3">현재 비밀번호를 입력해 주세요.</p>

                    <input
                      class="input "
                      id="currentPasswordInput"
                      type="password"
                      placeholder=""
                      autocomplete="on"
                    />
                    <button
                      class="button saveCompleteButton"
                      id="saveCompleteButton"
                      aria-label="close"
                    >
                      저장 완료하기
                    </button>
                  </div>
                </div>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </section>

<footer common-include="../common/component/footer/footer.html"></footer>

</body>
</html>


